<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Admin Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/adminDashboard/products">Products</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="/adminDashboard/categories">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/adminDashboard/addProduct">AddProduct</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/adminDashboard/addCategory">AddCategory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="logout()" >Logout</a>
              </li>
              <!-- Add more links as needed -->
            </ul>
            <!-- Add logout button or user profile dropdown if needed -->
          </div>
        </div>
      </nav>

      <!-- all products  -->
      <div class="admin-dashboard container mt-2">
        <div class="row">
          <div class="col-md-4" *ngFor="let product of products">
            <div class="card">
              <img class="card-img-top" src="{{ product.imageUrl }}" alt="Product Image">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text text-success">Price: {{ product.price | currency }}</p>
                <p class="card-text">Category: {{ product.categoryName }}</p>
                <p class="card-text">CreatedAt: {{ product.createdAt | date:'medium'}}</p>
                <p class="card-text">UpdatedAt: {{ product.updatedAt | date:'medium' }}</p>
                <button class="btn btn-primary m-1" (click)="editProduct(product)">Edit</button>
                <button class="btn btn-danger m-1" (click)="deleteProduct(product._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
</section>