<section>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" >Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminDashboard/category">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminDashboard/addProduct">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminDashboard/addCategory">Add Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- searching  -->
  <div class="container mt-4">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" formControlName="searchTerm" class="form-control" placeholder="Search products">
            <div class="input-group-append d-flex">
              <button type="submit" class="btn btn-primary ">
                <i class="fas fa-search search-icon"></i>
              </button>
              <button type="button" class="btn btn-secondary" (click)="onClear()">
                <i class="fas fa-times clear-icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- All products -->
  <div class="admin-dashboard container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4">
          <img class="card-img-top" [src]="product.imageUrl" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text text-success">Price: {{ product.price | currency }}</p>
            <p class="card-text">Category: {{ product.categoryName }}</p>
            <p class="card-text">Created At: {{ product.createdAt | date:'medium'}}</p>
            <p class="card-text">Updated At: {{ product.updatedAt | date:'medium' }}</p>
            <div class="d-flex">
              <button class="btn btn-primary  mr-1 m-1" (click)="editProduct(product)">Edit</button>
              <button class="btn btn-danger m-1" (click)="deleteProduct(product._id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
